<section>
  <div class="bg-primary p-2 d-flex align-items-center justify-content-between">
    <%= link_to image_tag("icons8-izquierda-30.png"), root_path %>
    <h2 class="fs-4 text-white font">LOGIN</h2>
    <%= link_to 'Log In', '#', class: 'fs-6 text-white no_txt_decoration font', onclick: "document.getElementById('login-submit').click(); return false;" %>
  </div>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'p-2' }) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions d-none">
      <%= f.submit "Log In", id: 'login-submit' %>
    </div>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
   <%= link_to "Forgot password?", new_password_path(resource_name), class: 'no_txt_decoration font text-secondary p-2' %><br />
  <% end %>
</section>

