<div class="d-flex p-2 bg-white border align-items-center justify-content-between" id="<%= dom_id category %>">
  <p class="display-1 text-xl"><%= category.icon %></p>
  <div>
    <h3 class="font_Caveat text-dark"><%= category.name %></h3>
    <p class="text-dark"><%= category.created_at.strftime("%d %b %Y") %></p>
  </div>
  <p class="text-dark"><%="$#{category.expenses.sum(:amount)}"%></p>
</div>
