<section>
  <div class="bg-primary p-4 d-flex align-items-center justify-content-between">
    <%= link_to image_tag("icons8-izquierda-30.png"), categories_path %>
    <h2 class="fs-4 text-white font">TRANSACTIONS</h2>
     <%= button_to image_tag("delete.png"), @category, method: :delete, class: 'bg-transparent border-0' %>
  </div>

  <p style="color: green"><%= notice %></p>

  <div class="bg-light  p-2" id="categories">
    <div class="d-flex p-2 bg-white border align-items-center justify-content-between" >
      <h3 class="font_Caveat"><%= "#{@category.name} #{@category.icon}" %></h3>
      <p><strong><%="$#{@category.expenses.sum(:amount)}"%></strong></p>
    </div>
  </div>

  <div class="d-flex flex-column gap-2 bg-light p-2 container mt-3 mb-5">
    <%= render @expenses %>
  </div>

  <div class="fixed-bottom bg-success btn-block p-3">
     <%= link_to "New transaction", new_category_expense_path(@category), class: 'align-self-center w-100 btn btn-outline-light text-white' %>
  </div>
  
</section>

